    <div class="about container">
      <div class="aboutUnder clearfix col-md-6">
        <a href="/#/videos/s-BvtTx9S8Y/" class="clearfix"><img src="/img/randomVid.jpg" class="vidExample img-responsive"></a>

        <div class="aboutUnderWrap">
            <h3>About Underviewed</h3> 
            <p>This site searches for YouTube videos that contain generic filenames as their titles. Part of the thinking here is that if people didn't change the title of the video from the factory default, they either didn't know what they were doing... or couldn't be bothered to make the change. Either way, these videos fall on the low end of the spectrum: the lesser seen, the underviewed.</p>
             
            <p>For example, a Go Pro camera names its videos in a certain way (GOPR1234.MP4); an iPhone names all its videos using a fixed format (IMG_1234.MOV). The Underviewed site searches YouTube using these types of filenames as its search criteria.</p>

            <p>In an age of social media and viral videos being viewed millions of times, this site focuses on the undiscovered - the personal and private moments that the world hasn't had the chance to see.</p>

            <p>With so many devices and so many potential file names, there are innumerable videos out there <a href="/">waiting to be discovered</a>. We hope you get a little lost here, and lose a little time. We hope you encounter something fantastic, and rarely viewed. Let us know <a href="https://twitter.com/search?q=%23underviewed" target="_blank">what you find</a>.</p>
        </div>
    </div>

    <div class="aboutFelix clearfix col-md-6">
        <a href="http://avoision.com" class="clearfix" target="_blank"><img src="/img/felixIsAwesome.jpg" class="bioPic img-responsive"></a>

        <div class="aboutFelixWrap">        
            <h3>About Felix Jung</h3> 
            <p>Felix Jung lives in Chicago with his wife <a href="http://zilredloh.com/" target="_blank">Liz</a>, and two rabbits named <a href="http://avoision.com/tag/phineas" target="_blank">Phineas</a> and <a href="http://avoision.com/tag/quincy" target="_blank">Quincy</a>. He hit the apex of coolness in 1979, when he acquired this sweet racing helmet at the Indy 500. It's been downhill ever since.</p>

            <p>He has a lot of silly ideas, some of which he turns <a href="http://avoision.com/portfolio" target="_blank">into projects</a>. He frequently enjoys dressing up in sexy undergarments, and <a href="http://whywouldyouclickthat.com/" target="_blank">posting photos of himself online</a>.</p>

            <p>He is a front end developer for <a href="http://www.searsholdings.com/" target="_blank">Sears</a>, and in his spare time maintains <a href="http://avoision.com/" target="_blank">avoision.com</a>, a personal blog he's been updating every day since July, 2002. He enjoys public speaking and is a frequent participant of <a href="http://avoision.com/2014/08/07/felix-jung-20x2-chicago-where-are-we.php" target="_blank">20x2 Chicago</a>. Most recently, he's created an iPhone app called <a href="http://augur-app.com/" target="_blank">Augur</a> that uses Twitter to predict the future.</p>

            <h3 class="creditTitle">Credits</h3>

            <p>This site was built with <a href="https://angularjs.org/" target="_blank">Angular</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>. Background image from <a href="https://www.flickr.com/photos/thomashawk/155918164" target="_blank">Thomas Hawk</a>, 404 image from <a href="https://www.flickr.com/photos/mikehelland/2579392672/" target="_blank">Mike Helland</a> - both via a <a href="http://creativecommons.org/" target="_blank">Creative Commons</a> license.</p>

            <p>Thanks to <a href="https://www.linkedin.com/in/josepulgar" target="_blank">Jose Pulgar</a> for Angular/PHP assistance, and to <a href="http://www.colourlovers.com/palette/379413/you_are_beautiful" target="_blank">Sanguine</a> for color palette inspiration.</p>
        </div>
    </div>

